<div class="a">
  <div class="principal">
    <div class="title">Consultar cliente</div>
    <form [formGroup]="consultar" novalidate (ngSubmit)="pesquisar()">
      <div class="primary">
        <div class="container">
          <mat-radio-group formControlName="radio">
            <mat-radio-button
              *ngFor="let acao of acoes"
              value="{{ acao.opcao }}"
              >{{ acao.nome }}</mat-radio-button
            >
          </mat-radio-group>
          <mat-form-field appearance="fill">
            <mat-label>{{ opcaoSelecionada.nome }}</mat-label>
            <input
              matInput
              [placeholder]="opcaoSelecionada.descricao"
              [formControlName]="opcaoSelecionada.nome"
              required
            />
            <mat-error class="form-text text-danger">{{
              opcaoSelecionada.erro
            }}</mat-error>
          </mat-form-field>
        </div>
        <!-- <spinner-load *ngIf="spinnerLoad"></spinner-load> -->
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="loading"
        ></mat-progress-bar>
        <div class="botao" *ngIf="!loading">
          <button mat-raised-button color="primary" type="submit">
            PESQUISAR
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #agenciaConta>
  <!-- Arrumar depois -->
  <mat-form-field appearance="fill">
    <mat-label>{{ opcaoSelecionada.nome }}</mat-label>
    <input
      matInput
      [placeholder]="opcaoSelecionada.descricao"
      formControlName="campo"
      required
    />
    <mat-error
      *ngIf="
        !consultar.get('campo')?.valid &&
        consultar.get('campo')?.touched &&
        opcaoSelecionada.erro
      "
      class="form-text text-danger"
      >{{ opcaoSelecionada.erro }}</mat-error
    >
  </mat-form-field>
</ng-template>
