<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</mat-card>
<!-- <mat-card>
    <div class="title">Enviar para</div>
    <select class="form-select" aria-label="Default select example">
      <option selected>Selecione o setor de envio</option>
      <option value="1">Riscos</option>
      <option value="2">Backoffice</option>
    </select>
    <input
      class="form-control input-cpf"
      type="text"
      placeholder="Descrição do motivo do envio"
      aria-label="default input example"
    />
    <button class="btn btn-primary enviar" type="button" (click)="enviar()">
      Enviar
    </button>
</mat-card> -->
