.primary{
  display: flex;
  flex-direction: row;
  margin-top: 0.6rem;
}

.secondary{
  background-color: white;
  padding: 0.6rem;
  width: 100%;
  margin: 0.3rem;
}

.bottom{
  background-color: #2125290a;
  padding: 0.6rem;
  margin-top: 0.6rem;
  width: 100%;
  border-radius: 0.6rem;
}

.tertiary{
  display: flex;
  flex-direction: column;
}

.primeira-coluna{
  display: flex;
  flex-direction: column;
}

.segunda-coluna{
  display: flex;
  flex-direction: column;
}

.item{
  font-size: 0.8rem;
}

.crivo{
  display: flex;
  justify-content: space-between;
}

hr{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.legenda{
  margin-right: 4rem;
  color: rgba(0, 0, 0, .38);
  font-weight: 600;
}

.subtitle{
  margin-bottom: 0.3rem;
}

.topo{
  margin-top: 10.3rem;
  justify-content: space-between;
  display: flex;
}

.codigos{
  display: flex;
  flex-direction: column;
}

.botoes{
  display: flex;
  align-items: center;
}

.reprocessar{
  background: linear-gradient(90deg, #000537 60%, #2d2e62 100%);
  font-weight: 500;
  font-size: 0.9rem;
  margin-right: 0.6rem;
}

.reprovar{
  font-weight: 500;
  font-size: 0.9rem;
  margin-right: 0.6rem;
  padding: 0.3rem 1.3rem;
}

.lista{
  display: flex;
  align-items: center;
}

.item-lista{
  font-size: 0.9rem;
  margin-left: 0.3rem;
}

.legenda-green {
  border-radius: 100%;
  height: 0.9rem;
  width: 0.9rem;
  background-color: #388e3c;
  display: flex;
}

.legenda-red{
  border-radius: 100%;
  height: 0.9rem;
  width: 0.9rem;
  background-color: #c62828;
  display: flex;
}

.legenda-grey{
  border-radius: 100%;
  height: 0.9rem;
  width: 0.9rem;
  background-color: #bdbdbd;
  display: flex;
}

.legenda-yellow{
  border-radius: 100%;
  height: 0.9rem;
  width: 0.9rem;
  background-color: #FFD54F;
  display: flex;
}

