<div class="subtitle">Conta digital</div>
<div class="primary">
    <div>
        <label class="title-item">Cadastro iniciado em</label>
        <label class="form-control result-item">{{ clienteConsultado.cadastroIniciadoEm }}</label>
    </div>
    <div>
        <label class="title-item">Agência</label>
        <label class="form-control result-item">{{ clienteConsultado.agencia }}</label>
    </div>
    <div>
        <label class="title-item">Conta corrente</label>
        <label class="form-control result-item">{{ clienteConsultado.conta }}</label>
    </div>
</div>
<div class="secondary">
    <label class="title-item">Cadastro criado em</label>
    <label class="form-control result-item">{{ clienteConsultado.cadastroCriadoEm }}</label>
</div>
