<mat-card class="mat-card-borda">
  <label>Conta digital</label>
  <div class="separator">
    <mat-form-field appearance="outline">
      <mat-label>Cadastro iniciado em </mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Agência</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Conta corrente</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cadastro criado em</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
</mat-card>
