.inferior{
  display: flex;
}

@media (max-width: 906px) {
  .inferior{
    flex-direction: column;
  }
}

.principal{
  background-color: #424242;
  padding-top: 0.5rem;
}

app-enviar-para{
  width: 100%;
}

app-reset-senha{
  width: 100%;
}

app-historico{
  width: 100%;
  height: 100%;
}

mat-card{
  margin: 0.5rem;
}



