.botao{
  display: flex;
  justify-content: flex-end;
}

mat-card{
  margin: 0.5rem;
}

.separator{
  display: flex;
  justify-content: space-between;
}


.duo{
}

mat-form-field{
  margin: 1rem;
}

@media(max-width: 451px){
  mat-form-field{
    margin: 0;
  }
}

@media(max-width: 969px){
  .separator{
    flex-direction: column;
  }
}

