/* You can add global styles to this file, and also import other style files */

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif}

.mat-card-borda{
  border: 1px solid rgba(255, 255, 255, 0.384);
  border-radius: 0.3rem;
}
